$col-hydra-black: #202020;
$col-hydra-dark: #303030;
$col-hydra-blue: #006995;
$col-hydra-cyan: #0091AD;
$col-hydra-sky: #3AC9E6;
$col-angelic-purple: #8E0EA4;

$col-active: $col-hydra-blue;
$col-primary: $col-active;
$col-secondary: #aaa;
$col-success: #3adb76;
$col-warning: #ffae00;
$col-error: #E94B35;

$col-lightgrey: #eeeef3;
$col-text: #888;
$col-white: #fff;

.gradient-background {
    background: linear-gradient(to bottom, $col-hydra-blue, $col-angelic-purple);
}